.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    padding: 20px; 
    background-color: #f9f9f9; 
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px; 
    text-align: center;
}

.footer-logo img {
    width: 60px; 
    height: auto; 
}

.footer-logo p {
    color: #383838;
    font-size: clamp(24px, 4vw, 46px); 
    font-weight: 700;
    margin: 0;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 30px; 
    flex-wrap: wrap; 
    justify-content: center;
    color: #252525;
    font-size: clamp(14px, 2vw, 20px); 
    padding: 0;
    margin: 0;
}

.footer-links li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-links li:hover {
    color: #ff4141;
}

.footer-social-icon {
    display: flex;
    gap: 15px; 
    justify-content: center;
    flex-wrap: wrap; 
}

.footer-icons-container {
    padding: 8px;
    border-radius: 50%; 
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-icons-container:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer-icons-container img {
    width: 20px; 
    height: auto;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    width: 100%;
    color: #1a1a1a;
    font-size: clamp(12px, 2vw, 20px); 
    text-align: center;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #c7c7c7;
}
